body {
    background-color: #151929;
    color: white;
}


.header-image {
    max-height: 400px;
    width: 100%;
    object-fit: cover;
}
.header-image-city_name {
    max-height: 200px;
    width: 100%;
    object-fit: cover;
}

.topnav {
    margin-top: -4px;
    line-height: 3;
    background-color: #151929;
    overflow: hidden;
}

.topnav a {
    float: right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;

    transition: all 150ms linear;
}

.topnav a:hover {
    background-color: #9895A1;
    color: white;
}


.topnav a.active {
    background-color: #9895A1;
    color: white;
}
.topnav a.home {
    float: left;
}

.uppercase{
    text-transform: capitalize;
}