body {background-color: #151929;}

.header-image {
    max-height: 400px;
    width: 100%;
    object-fit: cover;
}

.topnav {
    margin-top: -4px;
    line-height: 4.50;
    background-color: #151929;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

    transition: all 150ms linear;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #9895A1;
    color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #9895A1;
    color: white;
    float: left;
}
