body {
    background-color: #151929;
    color: floralwhite;
    font-family: "Franklin Gothic Book";
    background-image: url("weather_image.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

}

.content-city-name {
    text-transform: capitalize;
}

.content-weather-station {
    font-size: 25px;
    font-weight: 400;
    display: block;
}

.content {
    width: 55%;
    height: 100vh;
    position: relative;
}

.content-text {
    color: #151929;
    position: absolute;
    padding: 30px;
    bottom: 20%;
    font-size: 60px;
    font-weight: bold;
}

.sidebar {
    width: 50%;
    height: 100vh;
    position: absolute;
    right: 0;
    top:0;
    background: rgba(21,25,41,0.7);
    backdrop-filter: blur(6px);
    box-sizing: border-box;
    padding: 20px;
    overflow: scroll;
}

.sidebar-nav {
    border-bottom: 1px solid #c2c2c2;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: -15px;
}
.sidebar-nav a {
    display: table;
    color: #c2c2c2;
    text-decoration: none;
    margin-bottom: 4px;
    padding: 4px;
    margin-left: -4px;
    margin-top: 4px;
}
.sidebar-nav a:hover{
    background-color: #9895A1;
    color: white;
}

.sidebar-nav a.active {
    display: none;
}

.home-button {
    float: left;
}


.date-pickers {
    border-bottom: 1px solid #c2c2c2;
    padding-bottom: 20px;
}

.date-wrapper {
    display: inline-block;
    width: 49%;
    max-width: 200px;
}

.date-field {
    border-radius: 30px;
    border: 1px solid floralwhite;
    background-color: transparent;
    color: floralwhite;
    padding: 2px 8px;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid floralwhite;
}
table {
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
}
td {
    padding: 3px 6px;
    min-width: 60px;
}

p {
    padding: 2px;
}