<!DOCTYPE html>


<html>
    <head>
        <title>Weather station</title>
        <link rel="stylesheet" href="static/normalize.css">
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <header>
            <div class="topnav">
                <a class="active home" href="/">Home</a>
                <a href="/city/oslo">Oslo station</a>
                <a href="/city/bergen">Bergen station</a>
                <a href="/city/stavanger">Stavanger station</a>
            </div>
            <img class="header-image" src="/static/weather_image.jpg" >
        </header>
    <h1> Please select the wanted weather station</h1>
    </body>
</html>