# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\WoW\INF142-Mandatory-Assignment-VET\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
